.card {
  background-color: white;
  width: 75%;
  max-height: fit-content;
  padding: 10px;
  margin-bottom: 20px;

  border-radius: 10px;

  .title {
    text-align: start;
    color: #2d6a4f;
  }

  .posted-by,
  .date-created {
    display: flex;
    font-style: italic;
    font-size: 12px;
    color: #2d6a4f;
  }

  .description {
    color: #2d6a4f;
  }

  .buttons {
    display: flex;
    justify-content: end;

    .edit,
    .delete {
      background-color: #e9c46a;
      border: none;
      border-radius: 10px;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      width: 10rem;
    }

    .delete {
      background-color: #e76f51;
    }

    .delete:hover,
    .edit:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}
